<!DOCTYPE html>

<html class="light" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Academic Curator | Professional Login</title>
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>
    <div class="login-container">
        <h1>REGISTER</h1>
        <form action="/" method="post">
            <div class="input-group">
                <label for="email">USERNAME</label>
                <input name="username" type="text" id="email" placeholder="username">
            </div>

            <div class="input-group">
                <label for="password">PASSWORD</label>
                <input name="password" type="password" id="password" placeholder="••••••••">
            </div>

            <div class="input-group">
                <label for="confirmation">PASSWORD (again)</label>
                <input name="password" type="password" id="password" placeholder="••••••••">
            </div>

            <button type="submit">SIGN UP</button>

            <div class="footer">
                Already have an account? <a href="/">Sign in</a>
            </div>
        </form>

    </div>
</body>


</html>